#container {
	width: 700px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 15px grey;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.left {
	float: left;
	margin-bottom: 10px;
}

.right {
	float: right;
	margin-bottom: 10px;
}
a:hover {

color: chocolate;
}

a {
	color: darkgray;
	background-color: lightgray;
	text-decoration: none;
}
