#container {
	width: 700px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 15px grey;
	margin-top: 50px;
	margin-bottom: 50px;
}

.text {
	text-align: center;
}
.vonal {
width: 680px;
border: solid black 1px;
height: 1px;
}


.left {
	float: left;
	margin-bottom: 10px;
}

.right {
	float: right;
	margin-bottom: 10px;
}
a:hover {

color: chocolate;
}

a {
	color: darkgray;
	background-color: lightgray;
	text-decoration: none;
}
